body {
  font-family: Arial, sans-serif;
  background: linear-gradient(#8ee2ce, #e9fff8);
  margin: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.products {
  display: flex;
  gap: 15px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 8px #ccc;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.price {
  font-weight: bold;
}

button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.cart {
  position: fixed;
  right: 20px;
  top: 120px;
  width: 260px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 8px #aaa;
}
