* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f4fff9;
}

header {
  text-align: center;
  padding: 25px;
  background: linear-gradient(90deg, #8be6a2, #6dc4ff);
  color: white;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}

.card button {
  margin-top: 8px;
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
  background: #8be6a2;
  cursor: pointer;
}

.carrinho {
  background: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.carrinho button {
  padding: 8px 12px;
  border-radius: 15px;
  border: none;
  background: #6dc4ff;
  cursor: pointer;
  color: white;
}
